node_modules/
.next/
out/
build/
dist/
.DS_Store
*.pem
.env*.local
.vercel
*.tsbuildinfo
next-env.d.ts

test-results/
playwright-report/
.env.local

# Env secrets
.env.local
.env.vercel.secrets
.env*.local
